@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200");

.menu-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 70px;
  padding: 1rem;
  background-color: #364887;
  color: rgb(249, 246, 246);
}
.navbar-burger {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: inherit;
  display: none;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  width: 70%;
}

.navbar-link {
  box-shadow: inset 0 0 0 0 #36478700;
  color: white;
  transition: color 0.2s ease-in-out, box-shadow 0.4s ease-in-out;
  text-align: center;
  padding: 0.5rem;
  max-width: 200px;
}
.navbar-link:hover {
  color: #364887;
  box-shadow: inset calc(120px + 0.5rem) 0 0 #fff;
}

@media screen and (max-width: 800px) {
  .navbar-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    padding: 2rem;
    visibility: hidden;
    transition: background-color 0.2s ease-in-out;
  }
  .navbar-link {
    display: block;
    box-shadow: inset 0 0 0 0 #36478700;
    text-align: center;
    width: 50vmin;
    max-width: none;
    margin: 1.5rem 0;
    padding: 0rem 1.5rem;
    font-size: 5vw;
    color: white;
  }
  .navbar-link:hover {
    box-shadow: inset 50vmin 0 0 0 #fff !important;
    color: #364787;
  }
  .show-nav .navbar-links {
    width: 100vw;
    background-color: #364787f1;
    visibility: visible;
  }
  .hide-nav .navbar-links {
    width: 0;
    background-color: transparent;
    visibility: hidden;
  }

  /* AVATAR */

  .show-nav .avatar-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
  }

  .show-nav .avatar-opened-nav {
    position: absolute;
    margin: auto;
    top: 150px;
    width: 70px;
    height: 70px;
    background: rgb(130, 130, 130);
  }

  /* BURGER MENU */

  .navbar-burger {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
  }
  .navbar-burger:hover {
    cursor: pointer;
  }
  .burger-bar,
  .burger-bar::before,
  .burger-bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background: #fff;
    transition: all 0.5s ease-in-out;
  }
  .burger-bar::before,
  .burger-bar::after {
    content: "";
    position: absolute;
    left: 0;
  }
  .burger-bar::before {
    transform: translateY(-12px);
  }
  .burger-bar::after {
    transform: translateY(12px);
  }
  .show-nav .burger-bar {
    width: 0;
    background: transparent;
  }
  .show-nav .burger-bar::before {
    transform: rotate(45deg);
  }
  .show-nav .burger-bar::after {
    transform: rotate(-45deg);
  }
}

@media screen and (max-width: 350px) {
  .navbar-links {
    padding: 1.5rem;
  }
  .navbar-link {
    /* margin: auto;
    margin: 1rem 0;
    padding: 0.5rem 1.5rem; */
    font-size: 1.5rem;
    width: 100%;
  }
  .navbar-link:hover {
    box-shadow: inset calc(90vw - 3rem) 0 0 0 #fff !important;
  }
}
