.menu-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    min-height: 70px;
    padding: 1rem;
    background-color: rgb(53, 53, 176);
    color: rgb(249, 246, 246);
}
.navbar-links{
    display: flex;
}
.navbar-link{
    padding: 0 0.3rem;
    color: inherit;
}
.navbar-burger{
   width: 40px;
   height: 40px;
   background: transparent;
   border: none;
   color: inherit;
   display: none;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
@media screen and (max-width:767px){
    .navbar-links{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: -100vw;
        bottom: 0;
        height: 100vh;
        padding: 2rem;
        visibility: hidden;
        background-color: rgb(53, 53, 176);
    }
    .show-nav
    .navbar-links{
        width: 100vw;
        right: 0;
        visibility: visible;
    }
    .navbar-link{
        display: block;
        padding: 1.5rem;
        font-size: 5vw;
    }
    .navbar-burger{
        display: block;
        position: fixed;
        top: 1rem;
        right: 1rem;
    }
    .navbar-burger:hover{
        cursor: pointer;
    }
    .burger-bar,
    .burger-bar::before,
    .burger-bar::after
    {
       display: block;
       width: 40px;
       height: 3px;
       position: relative;
       border-radius: 3px;
       background: #fff; 
       transition: all .5s ease-in-out;
    }
    .burger-bar::before,
    .burger-bar::after{
        content: "";
        position: absolute;
        left: 0;
    }
    .burger-bar::before{
        transform: translateY(-12px);
    }
    .burger-bar::after{
        transform: translateY(12px);
    }
    .show-nav .burger-bar{
        width: 0;
        background: transparent;
    }
    .show-nav
    .burger-bar::before{
        transform: rotate(45deg);
    }
    .show-nav
    .burger-bar::after{
        transform: rotate(-45deg);
    }
}