@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200");

.logo-container {
  cursor: pointer;
}
.logo-container > span {
  width: 100%;
  height: 100%;
  font-size: calc(1vw + 1rem);
  font-family: "Aclonica";
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 70px;
  padding: 1rem;
  background-color: #364887;
  color: rgb(249, 246, 246);
}
.menu-container.transparent {
  background-color: #36478700;
  color: rgb(249, 246, 246);
  position: absolute;
}

.navbar-burger {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: inherit;
  display: none;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  width: 80%;
  margin: 0;
}

.navbar-link {
  position: relative;
  color: white;
}
.navbar-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}
.navbar-link:hover {
  color: white;
}
.navbar-link:hover::before,
.navbar-link.active::before {
  color: white;
  transform: scaleX(1);
}

@media screen and (max-width: 800px) {
  .navbar-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    padding: 2rem;
    visibility: hidden;
    transition: background-color 0.3s ease-in-out;
    z-index: 1000;
  }
  .navbar-link {
    display: block;
    text-align: center;
    width: 50%;
    max-width: 350px;
    margin: 1.5rem 0;
    padding: 0rem 1.5rem;
    font-size: 5vw;
    color: white;
  }
  .menu-login-container {
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-content: center;
    align-items: center;
    width: 50%;
    position: absolute;
    bottom: 100px;
    margin: auto;
  }
  .show-nav .navbar-links {
    width: 100vw;
    background-color: rgba(54, 71, 135, 0.7);
    backdrop-filter: blur(4px);
    visibility: visible;
  }
  .hide-nav .navbar-links {
    width: 0;
    background-color: transparent;
    visibility: hidden;
  }

  /* AVATAR */

  .show-nav .avatar-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
  }

  .show-nav .avatar-opened-nav {
    position: absolute;
    margin: auto;
    top: 150px;
    width: 70px;
    height: 70px;
    background: rgb(130, 130, 130);
  }

  /* BURGER MENU */

  .navbar-burger {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1001;
  }
  .navbar-burger:hover {
    cursor: pointer;
  }
  .burger-bar,
  .burger-bar::before,
  .burger-bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background: #fff;
    transition: all 0.5s ease-in-out;
  }
  .burger-bar::before,
  .burger-bar::after {
    content: "";
    position: absolute;
    left: 0;
  }
  .burger-bar::before {
    transform: translateY(-12px);
  }
  .burger-bar::after {
    transform: translateY(12px);
  }
  .show-nav .burger-bar {
    width: 0;
    background: transparent;
  }
  .show-nav .burger-bar::before {
    transform: rotate(45deg);
  }
  .show-nav .burger-bar::after {
    transform: rotate(-45deg);
  }
}

@media screen and (max-width: 480px) {
  .navbar-links {
    padding: 1.5rem;
  }
  .navbar-link {
    font-size: 1.5rem;
    width: 80%;
    max-width: 250px;
  }
  .menu-login-container {
    width: 70%;
    margin: auto;
  }
}
