.card-container {
  border-radius: 8px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.397);
  max-width: 375px;
  min-width: 250px;
  min-height: 300px;
  padding: 0;
  cursor: pointer;
}
.card-header {
  border-radius: 8px 8px 0 0;
  border: none;
  min-height: 100px;
  padding: 0;
  width: 100%;
  background-image: url("http://aujourdhuilaturquie.com/fr/wp-content/uploads/2016/02/amphitheatre-universite-reims-01.jpg");
  background-color: white;
  background-position: center;
  background-size: cover;
}
.card-overlay {
  background: rgba(54, 71, 135, 0.587);
  border-radius: 8px 8px 0 0;
  min-height: 100px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: relative;
}

.card-logo {
  border-radius: 50%;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.397);
  margin-right: 5px;
  width: 70px;
  height: 70px;
  background: white;
  position: absolute;
  bottom: -20px;
  left: 20px;
}
.card-content {
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  text-align: left;
}
.card-title {
  color: #3a3a3a;
  font-weight: 500;
  font-size: 1.2rem;
}
.card-descriptio {
  color: #3a3a3a;
}

@media screen and (max-width: 800px) {
  .card-container {
    margin: auto;
    width: 100%;
    max-width: 350px;
    min-width: 250px;
    min-height: 300px;
  }
}
